./first-deployments/aws/.serverless
./first-deployments/aws/.node_modules
./first-deployments/azure/.serverless
./first-deployments/azure/.node_modules
./first-deployments/gcp/.serverless
./first-deployments/gcp/.node_modules
./second-deployment/aws/.serverless
./second-deployment/aws/.node_modules
./second-deployment/azure/.serverless
./second-deployment/azure/.node_modules
./second-deployment/gcp/.serverless
./second-deployment/gcp/.node_modules
./third-deployment/aws/.serverless
./third-deployment/aws/.node_modules
./third-deployment/azure/.serverless
./third-deployment/azure/.node_modules
./third-deployment/gcp/.serverless
./third-deployment/gcp/.node_modules

