./first-deployments/aws/.serverless
./first-deployments/aws/.node_modules
./first-deployments/azure/.serverless
./first-deployments/azure/.node_modules
./first-deployments/gcp/.serverless
./first-deployments/gcp/.node_modules
./second-deployment/aws/.serverless
./second-deployment/aws/.node_modules
./second-deployment/azure/.serverless
./second-deployment/azure/.node_modules
./second-deployment/gcp/.serverless
./second-deployment/gcp/.node_modules
./third-deployment/aws/.serverless
./third-deployment/aws/.node_modules
./third-deployment/azure/.serverless
./third-deployment/azure/.node_modules
./third-deployment/gcp/.serverless
./third-deployment/gcp/.node_modules
./fourth-deployment/aws/.serverless
./fourth-deployment/aws/.node_modules
./fourth-deployment/azure/.serverless
./fourth-deployment/azure/.node_modules
./fifth-deployment/aws/.serverless
./sixth-deployment/aws/.node_modules
./sixth-deployment/aws/.serverless
./sixth-deployment/gcp/.node_modules
./sixth-deployment/gcp/.serverless
./sixth-deployment/azure/.node_modules
./sixth-deployment/azure/.serverless
./sixth-deployment/ibm/.node_modules
./sixth-deployment/ibm/.serverless

