./first-deployments/aws/.serverless
./first-deployments/aws/.node_modules
./first-deployments/azure/.serverless
./first-deployments/azure/.node_modules
./first-deployments/gcp/.serverless
./first-deployments/gcp/.node_modules
